<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oxy Balance</title>
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&amp;display=swap" rel="stylesheet">
  </head>
  <body>
    <a href="index.html"> <h1>Oxy Balance</h1> </a>
    
    <p>Including today {{todayDate}}, you should have...</p>
    <div>
        <h3 class = "plan">Plan A+</h3>
        <p class = "amount">{{CURRENT_BALANCE_APLUS}}</p>
    </div>
    
  

</body></html>